<h1>Home Page!</h1>
<p>Find me in app/views/books/index.html.erb</p>

<ul>
  <% @books.each do |book| %>
    <li>
        <%= link_to book.title, book %>
        </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Book", new_book_path %>